*{
      
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px; /*especifica el espacio entre cada celda*/
    
}

img{
    width: 100%;
    height: 300px;
    object-fit: cover; /*toma el tamaño del contenedor*/
}

